@import "./../../../../variables.scss";

.newcollection {
  margin-bottom: $marginbottom;
  .heading {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    letter-spacing: 0.02em;
    margin-bottom: 92px;
  }
  @media screen and (max-width: 423px) {
    .heading {
      font-size: 30px;
      font-weight: 600;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 65px;
  }

  .openshopbtn {
    font-weight: 400;
    font-size: 17px;
    line-height: 138.9%;
    text-align: center;
    letter-spacing: 0.02em;
    button {
      padding: 22px 50px;
      background-color: white;
      border: 1px solid #6e9c9f;
      color: #6e9c9f;
      &:hover {
        background-color: #6e9c9f;
        color: white;
      }
    }
  }
}
@media screen and (max-width: 1200px) {
  .newcollection {
    margin-top: 430px;
    .heading {
      text-align: center;
    }
    .cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
@media screen and (max-width: 663px) {
  .newcollection {
    .cards {
      grid-template-columns: 1fr;
    }
  }
}
