@import "./../../variables.scss";

.footer {
  margin-top: 325px;
  padding-top: 80px;
  background-color: #f1eadc;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 25px;
    .policityprival {
      .paragraph {
        font-weight: 400;
        font-size: 13px;
        line-height: 140%;
        letter-spacing: 0.02em;
        margin-bottom: 6px;
      }
    }

    .logowrapper {
      display: flex;
      align-items: center;
      margin-top: 51px;

      .title {
        font-weight: 500;
        font-size: 16px;
        line-height: 18.78px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
      }
    }
    .navbar {
      margin-top: 54px;

      .navlinks {
        display: flex;
        align-items: center;
        padding-inline-start: 0px;

        .navlink {
          list-style: none;
          font-weight: 400;
          font-size: 15px;
          line-height: 140%;
          letter-spacing: 0.02em;
          margin-right: 45px;
          &:hover {
            color: $active-color;
            font-weight: 700;
          }
        }
      }
    }

    .call {
      display: flex;
      align-items: center;
      margin-top: 54px;
      margin-right: 25px;
      .phonenumber {
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        letter-spacing: 0.02em;
      }
    }

    .basket {
      margin-top: 53px;
    }
  }
}

.containerbot {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1060px;
  margin: 0 auto;

  padding: 0 25px;
  padding-bottom: 50px;
  .linksandpay {
    margin-right: 25px;
    .links {
      display: flex;
      flex-direction: row;
      margin-bottom: 31px;
      .link {
        margin-right: 12px;
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .footer {
    padding-top: 20px;
    .navbar {
      display: none;
    }
  }
}
@media screen and (max-width: 453px) {
  .policityprival {
    .paragraph {
      font-size: 12px;
    }
  }
}
